.footer{
    width: 100%;
    padding-top: 10px;
  }
  .copyright{
    width: 100%;
    background-color: blueviolet;
  }
  
  .footerSection{
    width: 100%px;
    background-color: #32ebeb;

    display: flex;
    justify-content: space-around;
    color: black;
    padding-top: 20px;
    margin: auto;
    text-align: center;
    font-size: 25px;
  }

  .copyright {
    width: 100%;
    background-color: #32ebeb; /* hoặc màu trùng với footerSection */
    height: 85px;
    margin: auto;
  }